{# vim: set filetype=htmldjango: #}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}JuggerRanking{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Jugger Ranking System">
        <meta name="author" content="Frederik Möllers">
        <script src="/static/jquery-2.1.1.min.js"></script>
        {% block header %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
